<div class="limiter">
    <div class="container-login100" style="background-image: url('/login/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form method="POST" class="login100-form validate-form">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Đăng nhập
                </span>


   

                <div class="wrap-input100 validate-input" data-validate="Không bỏ trống tên đăng nhập">
                    <input class="input100" type="text" name="username" placeholder="Tên đăng nhập">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập mật khẩu">
                    <input class="input100" type="password" name="password" placeholder="Mật khẩu">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>
                <script>
                    $(document).ready(function () {
                        $('.aaaa').hide();
                    })
                </script>
                <hr>
                <h5 style="color:black;"> {{Noti}}</h5>
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Ghi nhớ tôi
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Đăng nhập
                    </button>
                </div>
                <div class="text-center p-t-90">
                    <a class="txt1" href="/register">
                        Đăng kí
                    </a>
                    <a class="txt1" href="/resetpw">
                        Quên mật khẩu
                    </a>
                </div>
            </form>


        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>