<div class="limiter">
	<div class="container-login100" style="background-image: url('/login/images/bg-01.jpg');">
		<div class="wrap-login100">
			<form class="login100-form validate-form" action="" method="POST">
				<span class="login100-form-logo">
					<i class="zmdi zmdi-landscape"></i>
				</span>

				<span class="login100-form-title p-b-34 p-t-27">
					Đăng kí
				</span>

				<div class="wrap-input100 validate-input" data-validate="Vui lòng nhập đúng email">
					<input class="input100" type="text" name="email" placeholder="Email" maxlength="30" minlength="6">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Vui lòng không bỏ trống">
					<input class="input100" type="text" name="username" placeholder="Tên đăng nhập" maxlength="20"
						minlength="6">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Vui lòng không bỏ trống">
					<input class="input100" type="password" name="pass" placeholder="Mật khẩu" maxlength="20"
						minlength="6">
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Vui lòng không bỏ trống">
					<input class="input100" type="password" name="repass" placeholder="Nhập lại mật khẩu" maxlength="20"
						minlength="6">
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>
				<hr>
                <h5 style="color:black;"> {{Noti}}</h5>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Đăng kí
					</button>
				</div>
				<div class="text-center p-t-90">
					<a class="txt1" href="/login">
						Đăng nhập
					</a>
					<a class="txt1" href="/forgot">
						Quên mật khẩu
					</a>
				</div>
			</form>
		</div>
	</div>
</div>