<!--Breadcrumb Start-->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/product">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Danh sách sản phẩm</li>
        </ul>
    </div>
</div>
<!--Breadcrumb End-->


<div class="product-view">
    <div class="container-fluid">
        <h2 class="text-danger mt-5 mb-5">Không tìm thấy sản phẩm</h2>
    </div>
</div>