<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/product">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Đơn hàng</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Địa chỉ thanh toán hóa đơn</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ</label>
                                <input class="form-control" type="text" placeholder="Họ">
                            </div>
                            <div class="col-md-6">
                                <label>Tên</label>
                                <input class="form-control" type="text" placeholder="Tên">
                            </div>
                            <div class="col-md-6">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="E-mail">
                            </div>
                            <div class="col-md-6">
                                <label>Điện thoại</label>
                                <input class="form-control" type="text" placeholder="Điện thoại">
                            </div>
                            <div class="col-md-12">
                                <label>Địa chỉ</label>
                                <input class="form-control" type="text" placeholder="Địa chỉ">
                            </div>
                            <div class="col-md-6">
                                <label>Quốc gia</label>
                                <select class="custom-select">
                                    <option selected>Việt Nam</option>
                                    <option>Bình Chánh</option>
                                    <option>Gia Lai</option>
                                    <option>USA</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Tỉnh/thành</label>
                                <input class="form-control" type="text" placeholder="Tỉnh/thành">
                            </div>
                            <div class="col-md-6">
                                <label>Quận/huyện</label>
                                <input class="form-control" type="text" placeholder="Quận/huyện">
                            </div>
                            <div class="col-md-6">
                                <label>Mã ZIP (mã bưu chính)</label>
                                <input class="form-control" type="text" placeholder="Mã ZIP">
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Tạo tài khoản</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="shipto">
                                    <label class="custom-control-label" for="shipto">Giao đến địa chỉ khác</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shipping-address">
                        <h2>Địa chỉ giao hàng</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ</label>
                                <input class="form-control" type="text" placeholder="Họ">
                            </div>
                            <div class="col-md-6">
                                <label>Tên</label>
                                <input class="form-control" type="text" placeholder="Tên">
                            </div>
                            <div class="col-md-6">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="E-mail">
                            </div>
                            <div class="col-md-6">
                                <label>Điện thoại</label>
                                <input class="form-control" type="text" placeholder="Điện thoại">
                            </div>
                            <div class="col-md-12">
                                <label>Địa chỉ</label>
                                <input class="form-control" type="text" placeholder="Địa chỉ">
                            </div>
                            <div class="col-md-6">
                                <label>Quốc gia</label>
                                <select class="custom-select">
                                    <option selected>Việt Nam</option>
                                    <option>Bình Chánh</option>
                                    <option>Gia Lai</option>
                                    <option>USA</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Tỉnh/thành</label>
                                <input class="form-control" type="text" placeholder="Tỉnh/thành">
                            </div>
                            <div class="col-md-6">
                                <label>Quận/huyện</label>
                                <input class="form-control" type="text" placeholder="Quận/huyện">
                            </div>
                            <div class="col-md-6">
                                <label>Mã ZIP (mã bưu chính)</label>
                                <input class="form-control" type="text" placeholder="Mã ZIP">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Tổng cộng</h1>
                        <p>Sản phẩm ABC<span>$99</span></p>
                        <p class="sub-total">Tổng cộng<span>$99</span></p>
                        <p class="ship-cost">Phí giao hàng<span>$1</span></p>
                        <h2>Tổng tiền<span>$100</span></h2>
                    </div>

                    <div class="checkout-payment">
                        <div class="payment-methods">
                            <h1>Phương thức thanh toán</h1>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                    <label class="custom-control-label" for="payment-1">Paypal</label>
                                </div>
                                <div class="payment-content" id="payment-1-show">
                                    <p>
                                        Bạn sẽ nhận được mã OTP để xác nhận đơn hàng. Tuyệt đối không cung cấp mã này cho
                                        bất kì ai không phải là nhân viên ngân hàng.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                    <label class="custom-control-label" for="payment-2">MoMo</label>
                                </div>
                                <div class="payment-content" id="payment-2-show">
                                    <p>
                                        Bạn sẽ nhận được mã OTP để xác nhận đơn hàng. Tuyệt đối không cung cấp mã này cho
                                        bất kì ai không phải là nhân viên ngân hàng.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                    <label class="custom-control-label" for="payment-3">ZaloPay</label>
                                </div>
                                <div class="payment-content" id="payment-3-show">
                                    <p>
                                        Bạn sẽ nhận được mã OTP để xác nhận đơn hàng. Tuyệt đối không cung cấp mã này cho
                                        bất kì ai không phải là nhân viên ngân hàng.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                    <label class="custom-control-label" for="payment-4">ViettelPay</label>
                                </div>
                                <div class="payment-content" id="payment-4-show">
                                    <p>
                                        Bạn sẽ nhận được mã OTP để xác nhận đơn hàng. Tuyệt đối không cung cấp mã này cho
                                        bất kì ai không phải là nhân viên ngân hàng.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                    <label class="custom-control-label" for="payment-5">VinID</label>
                                </div>
                                <div class="payment-content" id="payment-5-show">
                                    <p>
                                        Bạn sẽ nhận được mã OTP để xác nhận đơn hàng. Tuyệt đối không cung cấp mã này cho
                                        bất kì ai không phải là nhân viên ngân hàng.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                    <label class="custom-control-label" for="payment-5">Trả tiền mặt</label>
                                </div>
                                <div class="payment-content" id="payment-5-show">
                                    <p>
                                        Bạn sẽ nhận được mã OTP để xác nhận đơn hàng. Tuyệt đối không cung cấp mã này cho
                                        bất kì ai không phải là nhân viên ngân hàng.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-btn">
                            <button>Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->