<div class="error-template">
    <h1>Bạn chưa đăng nhập!!</h1>
    <hr>
    <div class="error-actions">
        <a href="/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Về trang chủ
        </a>
        <a href="/login" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span>
            Đăng nhập
        </a>
        <a href="/contact" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span>
            Gọi Hỗ trợ
        </a>
    </div>
</div>
<pre>{{error.stack}}</pre>